
body {
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title {
        width: 90%;
        max-width: 500px;
        padding: 5px;
        border-radius: 5px;
        
}
h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.title textarea,
input[type="text"] {
    width: 80%;
    max-width: 500px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    resize: none;
    font-weight: 700;
    
}


textarea {
    width: 80%;
    height: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    font-weight: bolder;
}

textarea::placeholder {
    color: #999;
}

button[type="button"] {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #66cdaa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button[type="button"]:hover {
    background-color: #5cb995;
}
